.star {
    background: url("./assets/star.png") no-repeat center center;
    width: 20px;
    height: 20px;
    background-size: cover;
    transition:0.2s;
}

.star:hover {
 transform: scale(1.1);

}

.star-hover {
    background: url("./assets/starGold.png") no-repeat center center;
    width: 20px;
    height: 20px;
    background-size: cover;
    transition:0.2s;
}